<!DOCTYPE html>
<html lang="">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home page</h1>
    {% if username %}
        <p>Hello, {{ username }}! You are logged in.</p><br>
        {% if isAdmin == 1 %}
            <p>Click <a href="/default">here</a> to access webapp as an admin.</p>
        {% else %}
            <p>You are not an admin, so you have view access to the web app. Click <a href="/default">here</a> to access.</p>
        {% endif %}
        <a href="/logout">Logout</a>
    {% else %}
        <p>You are not logged in. <a href="/login">Login</a> to access the web app.</p>
    {% endif %}
</body>
</html>